@use '../utils/forwards.scss' as *;

/*---- MOBILE: ----*/
@media (max-width: 768px) {
  .aboutSection-container {
    max-width: 75rem;
    display: block;
    color: $font-color-grey;
    font-family: 'Inter';
    font-size: 1.5rem;
    line-height: 2rem;
    opacity: 1;
    padding: 80px 0;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    h2 {
      display: flex;
      align-items: center;
      position: relative;
      width: 27.09rem;
      color: $font-color-white;
      font-family: 'Inter';
      font-weight: 600;
      font-size: clamp(26px, 5vw, 32px);
      line-height: 1.1;
      margin-block-start: 10px;
      margin-block-end: 40px;
      white-space: nowrap;
      width: 100%;
      -webkit-box-align: center;
      &::before {
        box-sizing: border-box;
        position: relative;
        bottom: 4px;
        color: $font-color;
        content: '0' counter(section) '.';
        counter-increment: section 1;
        font-family: 'Courier';
        font-size: $fz-md;
        font-weight: 400;
        margin-right: 10px;
      }
      &::after {
        position: relative;
        top: -5px;
        background-color: rgb(35, 53, 84);
        box-sizing: border-box;
        content: '';
        display: block;
        height: 0.084rem;
        margin-left: 10px;
        width: 100%;
      }
    }
    .aboutSection-inner {
      display: block;
      grid-template-columns: 3fr 2fr;
      -webkit-font-smoothing: antialiased;
      visibility: visible;
      .aboutSection-styledText {
        div {
          p {
            font-size: $fz-xl;
            margin-block-end: 1.25rem;
            a {
              position: relative;
              display: inline-block;
              color: $font-color;
              text-decoration-color: $font-color;
              text-decoration-line: none;
              text-decoration-skip-ink: auto;
              text-decoration-skip: auto;
              text-decoration-style: solid;
              text-decoration-thickness: auto;
            }
          }
        }
        .aboutSection-skillList {
          display: grid;
          grid-template-columns: repeat(2, minmax(11.5rem, 20rem));
          list-style-type: none;
          margin-block-start: 1.67rem;
          li {
            position: relative;
            font-family: 'Courier';
            font-size: 13px;
            line-height: 1.3;
            text-align: left;
            margin-bottom: 10px;
            padding-left: 20px;
            &::before {
              position: absolute;
              box-sizing: border-box;
              color: $font-color;
              content: '▹';
              font-size: 1.17rem;
              left: 0;
              line-height: 1rem;
            }
          }
        }
      } 
    }
  }
}

/*---- TABLET: ----*/
@media (min-width: 768px) {
  .aboutSection-container {
    max-width: 900px;
    display: block;
    color: $font-color-grey;
    font-family: 'Inter';
    font-size: $fz-xl;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    opacity: 1;
    padding: 100px 0;
    user-select: none;
    h2 {
      align-items: center;
      display: flex;
      position: relative;
      width: 100%;
      color: $font-color-white;
      font-family: 'Inter';
      font-weight: 600;
      font-size: clamp(26px, 5vw, 32px);
      line-height: 1.1;
      margin-block-end: 40px;
      margin-block-start: 10px;
      white-space: nowrap;
      -webkit-box-align: center;
      &::before {
        bottom: 4px;
        box-sizing: border-box;
        color: $font-color;
        content: '0' counter(section) '.';
        counter-increment: section 1;
        font-family: 'Courier';
        font-size: $fz-xl;
        font-weight: 400;
        margin-right: 10px;
        position: relative;
      }
      &::after {
        position: relative;
        top: -5px;
        background-color: rgb(35, 53, 84);
        box-sizing: border-box;
        content: '';
        display: block;
        height: 1px;
        margin-left: 20px;
        width: 200px;
      }
    }
    .aboutSection-inner {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 50px;
      -webkit-font-smoothing: antialiased;
      visibility: visible;
      .aboutSection-styledText {
        div {
          p {
            margin-block-end: 15px;
            a {
              position: relative;
              display: inline-block;
              color: $font-color;
              text-decoration-color: $font-color;
              text-decoration-line: none;
              text-decoration-skip-ink: auto;
              text-decoration-skip: auto;
              text-decoration-style: solid;
              text-decoration-thickness: auto;
            }
            &:last-child {
              margin-block-end: 0;
            }
          }
        }
        .aboutSection-skillList {
          display: grid;
          grid-template-columns: repeat(2, minmax(140px, 200px));
          list-style-type: none;
          margin-block-start: 1em;
          font-size: $fz-xl;
          li {
            position: relative;
            font-family: 'Courier';
            font-size: 13px;
            line-height: 1.3;
            text-align: left;
            margin-bottom: 10px;
            padding-left: 20px;
            &::before {
              position: absolute;
              box-sizing: border-box;
              color: $font-color;
              content: '▹';
              font-size: $fz-sm;
              left: 0;
              line-height: 12px;
            }
          }
        }
      } 
    }
  }
}