@use '../utils/forwards.scss' as *;

/*---- MOBILE: ----*/
@media (max-width: 768px) {
  .jobs-container {
    padding: 80px 0;
    color: $font-color-grey;
    font-family: 'Inter';
    font-size: 1.5rem;
    line-height: 1.3;
    max-width: 700px;
    opacity: 1;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    h2 {
      display: flex;
      align-items: center;
      -webkit-box-align: center;
      color: $font-color-white;
      font-size: 2.167rem;
      font-weight: 600;
      line-height: 1.1;
      margin-block-start: 0.833333rem;
      margin-block-end: 3.33333rem;
      position: relative;
      white-space: nowrap;
      &::before {
        bottom: 4px;
        box-sizing: border-box;
        color: $font-color;
        content: '0' counter(section) '.';
        counter-increment: section 2;
        font-family: 'Courier';
        font-size: 1.333333rem;
        font-weight: 400;
        margin-right: 5px;
        margin-bottom: -3px;
        position: relative;
      }
      &::after {
        background-color: rgb(35, 53, 84);
        box-sizing: border-box;
        height: 1px;
        content: '';
        margin-left: 10px;
        position: relative;
        top: -5px;
        width: 100%;
      }
    }
    .jobs-inner {
      .jobs-tab-list {
        width: calc(100% + 4.16667rem);
        position: relative;
        display: flex;
        margin-bottom: 2.5rem;
        margin-left: -2rem;
        overflow-x: auto;
        padding-left: 2rem;
        z-index: 3;
        &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $scroll-bar;
          border: 3px solid $bg-main;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background: $bg-main;
        }
        
        .job-tab {
          align-items: center;
          appearance: auto;
          background-color: $bg-tab-transparent;
          border-top-color: $font-color;
          border-top-style: none;
          border-right-color: $font-color;
          border-right-style: none;
          border-bottom-color: $bg-tab-btn;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          border-left-color: $font-color;
          border-left-style: none;
          border-image-outset: 0;
          border-image-repeat: stretch;
          color: $font-color-grey;
          cursor: pointer;
          display: flex;
          font-family: 'Courier';
          height: 3.5rem;
          justify-content: center;
          min-width: 10rem;
          padding: 0 1.25rem;
          position: relative;
          text-decoration-skip-ink: auto;
          text-indent: 0px;
          -webkit-box-align: center;
          -webkit-box-pack: center;
        }
        .active-tab {
          color: $font-color;
          background-color: $bg-main-light;
          border-bottom-color: $font-color;
          border-bottom-style: solid;
          border-bottom-width: 2px;
        }
        .jobs-styled-highlight {
          top: 40px;
          left: 0;
          bottom: 0;
          height: 2px;
          margin-left: 2rem;
          width: 10rem;
          max-width: 10rem;
          position: absolute;
          z-index: 10;
        }
      }
      .job-panels {
        position: relative;
        margin-left: 0;
        .tab-panel {
          display: none;
          h3 {
            color: $font-color-white;
            font-weight: 500;
            font-size: $fz-xxl;
            margin-block-end: 0.1em;
            margin-bottom: 0.1em;
            .company {
              color: $font-color;
              .inline-link {
                color: $font-color;
                display: inline-block;
                position: relative;
                text-decoration: none;
                text-decoration-skip-ink: auto;
              }
            }
          }
          .range {
            font-family: 'Courier';
            font-size: 1.083333rem;
            margin-block-end: 2.083333rem;
            margin-bottom: 2.083333rem;
          }
          div {
            ul {
              list-style-type: none;
              li {
                margin-bottom: 10px;
                padding-left: 30px;
                position: relative;
                &::before {
                  box-sizing: border-box;
                  color: $font-color;
                  content: "▹";
                  left: 0;
                  position: absolute;
                }
                a {
                  color: $font-color-grey;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .active-panel {
          display: block;
        }
      }
    }
  }
}

/*---- TABLET: ----*/
@media (min-width: 769px) {
  .jobs-container {
    padding: 100px 0;
    color: $font-color-grey;
    font-family: 'Inter';
    font-size: $fz-xl;
    line-height: 1.3;
    max-width: 700px;
    opacity: 1;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    h2 {
      display: flex;
      align-items: center;
      color: $font-color-white;
      font-size: clamp(26px, 5vw, 32px);
      font-weight: 600;
      line-height: 1.1;
      margin-block-end: 40px;
      margin-block-start: 10px;
      position: relative;
      white-space: nowrap;
      -webkit-box-align: center;
      width: 100%;
      &::before {
        bottom: 4px;
        box-sizing: border-box;
        color: $font-color;
        content: '0' counter(section) '.';
        counter-increment: section 2;
        font-family: 'Courier';
        font-size: $fz-xl;
        font-weight: 400;
        margin-right: 10px;
        position: relative;
      }
      &::after {
        background-color: rgb(35, 53, 84);
        box-sizing: border-box;
        content: '';
        display: block;
        height: 1px;
        margin-left: 20px;
        position: relative;
        top: -5px;
        width: 200px;
      }
    }
    .jobs-inner {
      display: flex;
      min-height: 340px;
      .jobs-tab-list {
        position: relative;
        display: block;
        width: max-content;
        z-index: 3;
        &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $scroll-bar;
          border: 3px solid $bg-main;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background: $bg-main;
        }
        .job-tab {
          align-items: center;
          appearance: auto;
          background-color: $bg-tab-transparent;
          border-top-color: $font-color;
          border-top-style: none;
          border-right-color: $font-color;
          border-right-style: none;
          border-bottom-color: $font-color;
          border-bottom-style: none;
          border-bottom-width: 2px;
          border-left-color: $bg-tab-btn;
          border-left-style: solid;
          border-image-outset: 0;
          border-image-repeat: stretch;
          color: $font-color;
          cursor: pointer;
          display: flex;
          font-family: 'Courier';
          font-size: 13px;
          height: 42px;
          padding-right: 20px;
          padding-bottom: 2px;
          padding-left: 20px;
          position: relative;
          text-decoration-skip-ink: auto;
          text-indent: 0px;
          text-align: left;
          white-space: nowrap;
          width: 100%;
          -webkit-box-align: center;
          span {
            color: $font-color-grey;
          }
        }
        .active-tab {
          color: $font-color;
          background-color: $bg-main-light;
          border-left-color: $font-color;
          border-left-style: solid;
          border-left-width: 2px;
          span {
            color: $font-color;
          }
        }
        .jobs-styled-highlight {
          top: 40px;
          left: 0;
          bottom: 0;
          height: 2px;
          margin-left: 2rem;
          width: 10rem;
          max-width: 10rem;
          position: absolute;
          z-index: 10;
        }
      }
      .job-panels {
        position: relative;
        margin-left: 20px;
        width: 100%;
        .tab-panel {
          display: none;
          height: auto;
          padding: 10px 5px;
          width: 100%;
          h3 {
            color: $font-color-white;
            font-weight: 500;
            font-size: $fz-xxl;
            margin-block-end: 2px;
            margin-bottom: 2px;
            .company {
              color: $font-color;
              .inline-link {
                color: $font-color;
                display: inline-block;
                position: relative;
                text-decoration: none;
                text-decoration-skip-ink: auto;
              }
            }
          }
          .range {
            font-family: 'Courier';
            font-size: 13px;
            margin-block-end: 25px;
            margin-bottom: 25px;
          }
          div {
            ul {
              list-style-type: none;
              font-size: $fz-lg;
              li {
                margin-bottom: 10px;
                padding-left: 30px;
                position: relative;
                &::before {
                  box-sizing: border-box;
                  color: $font-color;
                  content: "▹";
                  left: 0;
                  position: absolute;
                }
                a {
                  color: $font-color-grey;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .active-panel {
          display: block;
        }
      }
    }
  }
}