@use '../utils/forwards.scss' as *;

/*---- MOBILE: ----*/
@media (max-width: 768px) {
  .aboutSection-styledPic {
    position: relative;
    margin-top: 4.1rem;
    margin-left: 4rem;
    width: 70%;
    max-width: 25rem;
    visibility: visible;
    .styledPic-container {
      width: 100%;
      background-color: $font-color;
      box-shadow: 0 10px 30px -15px $shadow;
      position: relative;
      visibility: visible;
      border-radius: $bd-radius;
      &::before {
        box-sizing: border-box;
        background-color: $bg-main;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        mix-blend-mode: screen;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &::after {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 1.67rem;
        left: 1.67rem;
      }
      .img-container {
        display: inline-block;
        filter: grayscale(100%) contrast(1);
        width: 100%;
        max-width: 100%;
        mix-blend-mode: multiply;
        position: relative;
        vertical-align: middle;
        visibility: visible;
        div:first-child{
          max-width: 41.6rem;
          img {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            filter: blur(5px);
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            position: static;
          }
        }
        div:nth-child(2) {
          width: 100%;
          height: 100%;
          background-color: rgb(232, 232, 232);
          object-fit: cover;
          opacity: 0;
          position: absolute;
          -webkit-font-smoothing: antialiased;
        }
        picture {
          -webkit-font-smoothing: antialiased;
          source {
            border-radius: $bd-radius;
          }
          img {
            aspect-ratio: auto 500/500;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            display: block;
            max-width: none;
            object-fit: cover;
            opacity: 1;
            position: absolute;
            // vertical-align: middle;
            will-change: opacity;
            border-radius: $bd-radius;
          }
        }
        &:hover {
          filter: none;
          mix-blend-mode: normal;
        }
      }
    }
    &::after {
      box-sizing: border-box;
      border: 0.2rem solid $font-color;
      border-radius: $bd-radius;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      top: 1.67rem;
      left: 1.67rem;
      position: absolute;
      z-index: -1;
      transition: all 0.3s ease;
    }
    &:hover:after {
      top: 1.25rem;
      left: 1.25rem;
    }
  }
}

/*---- TABLET: ----*/
@media (min-width: 769px) {
  .aboutSection-styledPic {
    position: relative;
    max-width: 300px;
    visibility: visible;
    .styledPic-container {
      width: 100%;
      background-color: $font-color;
      box-shadow: 0 10px 30px -15px $shadow;
      position: relative;
      visibility: visible;
      border-radius: $bd-radius;
      .img-container {
        display: inline-block;
        filter: grayscale(100%) contrast(1);
        width: 100%;
        max-width: 100%;
        mix-blend-mode: multiply;
        position: relative;
        vertical-align: middle;
        visibility: visible;
        div:first-child{
          max-width: 500px;
          img {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            filter: blur(5px);
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            position: static;
            vertical-align: middle;
          }
        }
        div:nth-child(2) {
          width: 100%;
          height: 100%;
          background-color: rgb(232, 232, 232);
          inset: 0px;
          object-fit: cover;
          opacity: 0;
          position: absolute;
          transition: opacity 500ms linear 0s;
          -webkit-font-smoothing: antialiased;
        }
        picture {
          -webkit-font-smoothing: antialiased;
          source {
            border-radius: $bd-radius;
          }
          img {
            aspect-ratio: auto 500/500;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            max-width: none;
            object-fit: cover;
            opacity: 1;
            position: absolute;
            vertical-align: middle;
            will-change: opacity;
            border-radius: $bd-radius;
          }
        }
        &:hover {
          filter: none;
          mix-blend-mode: normal;
        }
      }
      &::before {
        box-sizing: border-box;
        background-color: $bg-main;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        mix-blend-mode: screen;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &::after {
        box-sizing: inherit;
        border: 2px solid $font-color;
        border-radius: $bd-radius;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 20px;
        left: 20px;
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
      }
      &:hover:after {
        top: 15px;
        left: 15px;
      }
    }
  }
}