/*---- Paleta de colores: ----*/
$bg-main: #030C2E;
$bg-main-light: #1C2C63;
$bg-tab-btn: rgb(35, 53, 84);
$bg-tab-transparent: rgba(0, 0, 0, 0);
$font-color: #E2FF2D;
$font-color-white: #F2F3F8;
$font-color-white-projects: rgb(230, 241, 255);
$font-color-grey: #A0A1AB;
$font-color-grey-light: rgb(168, 178, 209);
$scroll-bar: #495670;
$on-hover-color: rgb(100, 255, 218, 0.2);
$shadow: rgba(2, 12, 27, 0.7);
$bg-menu-desktop: rgba(10, 25, 47, 0.85);

/*---- Tamañao de letras: ----*/
$fz-xs: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;

/*---- Bordes: ----*/
$bd-radius: 4px;